{% extends "::base.html.twig" %}

{% block body %}

    <div>
        Forma:

        {{ form(post_form) }}

    </div>

    <div>
        Wall:

        <hr/>
        {% for post in posts %}
            <div>
                <div><h4>{{ post.user.username }}</h4></div>
                <div>{{ post.content }}</div>
                <div><a class="like-button" href="{{ path('nfq_akademija_wall_like_post', {post_id: post.id}) }}">Like ({{ post.likes|length }})</a></div>
                <div>
                    Comments:
                <div>
                    {% for comment in post.comments %}
                    {{ comment.comment }}
                    {% endfor %}
                    {{ render(controller('NFQAkademijaWallBundle:Comment:form', {post_id: post.id})) }}
                </div>
                </div>
                <div>{{ post.created|date("Y-m-d H:i:s") }}</div>
            </div>
            <hr/>
        {% endfor %}
    </div>

{% endblock %}